<h1>Listing groups</h1>

<table>
	
	<tr>
    <th><%= link_to 'Name',{ :controller => 'groups', :action =>
    'index', :sort_by => 'name'}, :class => 'clearlink' %> </th>
    <th><%= link_to 'Website',{ :controller => 'groups', :action =>
    'index', :sort_by => 'website_url'}, :class => 'clearlink' %> </th>
    <th><%= link_to 'Description',{ :controller => 'groups', :action =>
    'index', :sort_by => 'description'}, :class => 'clearlink' %> </th>
  </tr>
  <tr>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
  </tr>

<!-- alternating row colors -->
<% row = 0 %>

<% for group in @groups %>


  <tr <%= "class='row#{row}'" %> >
    <td class='name, clearlink'><%= link_to group.name, group %></td>
<!-- <%=h group.name %></td> -->
    <% if !group.website_url then %>
      <td>&nbsp;</td>
    <% else %>
      <td class='clearlink'><%= link_to "#{group.website_url}", group.website_url %></td>
    <% end %>
    <td><%=h group.description %></td>
  </tr>
<% row = row == 1 ? 0 : 1 %>
<% end %>
</table>
<br />


<%= link_to 'New group', new_group_path %>

<br />
<br />
<br />

<%= will_paginate @groups %>
<% form_tag "", :method => :get do -%> 
  <p> 
    <%= text_field_tag :search, params[:search] %> 
    <%= submit_tag "Search" %> 
  </p> 
<% end -%> 
