<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
<% if(@group.website_url != '') %>
<b><%= link_to "Group Website: #{@group.website_url}",@group.website_url %></b>
<% else %>
<i>(edit group to add a group website)</i>
<% end %>
</p>

<p>
  <b>Description:</b>
  <%=h @group.description %>
</p>

<hr>

<h3> Upcoming Events </h3>

<table>
  <tr>
    <th><%= link_to 'Event Name',{ :controller => 'groups', :action =>
    'show', :id => @group, :sort_events_by => 'name'}, :class => 'clearlink' %> </th>
    <th><%= link_to 'Start Time',{ :controller => 'groups', :action =>
    'show', :id => @group, :sort_events_by => 'start_time'}, :class => 'clearlink' %> </th>
    <th><%= link_to 'Location',{ :controller => 'groups', :action =>
    'show', :id => @group, :sort_events_by => 'locationname'}, :class => 'clearlink' %> </th>
  </tr>

  <tr>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
  </tr>

<ul>
<% row = 0 %>
<% @events.each do |event|%>
  <tr <%= "class='row#{row}'" %> >
    <td class='name, clearlink'><%= link_to event.name, event %></td>
    <td><%=h get_nice_time(event.start_time) %> </td> 
    <td class='clearlink'><%= link_to event.location.name, event.location %></td>
  </tr>
<% row = row == 1 ? 0 : 1 %>
<% end %>
</table>

</ul>

<%= will_paginate @events %>

<hr>

<% form_for(@event) do |f| %>
  <%= f.hidden_field :group_id, :value => @group.id %>
    <%= f.submit "New Event" %>
  </p>
<% end %>

<hr>

<%= link_to "Edit this group: #{@group.name}", edit_group_path(@group) %> |
<%= link_to 'See all groups', groups_path %>
<br/><br/><p>
<%= link_to 'Destroy this group', @group, :confirm => 'Are you sure?  This will also destroy all related events.', :method => :delete %>
</p>
