<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
<b><%= link_to "Group Website",@group.website_url %></b>
</p>

<p>
  <b>Description:</b>
  <%=h @group.description %>
</p>

<hr>

<h3> Upcoming Events </h3>
<ul>
<% @events.each do |event|%>
  <li>
    <%= link_to event.name, event %>
    <%=h get_nice_time(event.start_time) %> at
    <%= link_to event.location.name, event.location %>
  </li>
<% end %>
</ul>

<%= will_paginate @events %>

<hr>

<% form_for(@event) do |f| %>
  <%= f.hidden_field :group_id, :value => @group.id %>
    <%= f.submit "New Event" %>
  </p>
<% end %>

<hr>

<%= link_to "Edit this group: #{@group.name}", edit_group_path(@group) %> |
<%= link_to 'See all groups', groups_path %>
<br/><br/><p>
<%= link_to 'Destroy this group', @group, :confirm => 'Are you sure?  This will also destroy all related events.', :method => :delete %>
</p>
