<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
<b><%= link_to "Group Website",@group.website_url %></b>
</p>

<p>
  <b>Description:</b>
  <%=h @group.description %>
</p>


<h3> Upcoming Events </h3>
<ul>
<% @group.events.each do |event|%>
  <li>
    <%= link_to event.name, event %>
    <%=h get_nice_time(event.start_time) %> at
    <%= link_to event.location.name, event.location %>
  </li>
<% end %>
</ul>

<%= link_to 'New Event', :controller => "events", :action => "new", :group => @group %>


<hr>

<%= link_to "Edit this group: #{@group.name}", edit_group_path(@group) %> |
<%= link_to 'See all groups', groups_path %>

