<h1>Listing events</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Location</th>
    <th>Name</th>
    <th>Description</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

<% row = 0 %>
<% for event in @events %>
  <tr <%= "class='row#{row}'" %> >
    <td><%=h event.group_id %></td>
    <td><%=h event.location_id %></td>
    <td class='name'><%=h event.name %></td>
    <td><%=h event.description %></td>
    <td><%=h get_nice_time(event.start_time) %></td>
    <td><%=h get_nice_time(event.end_time) %></td>
    <td class='button'><%= link_to 'Show', event %></td>
    <td class='button'><%= link_to 'Edit', edit_event_path(event) %></td>
    <td class='button'><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% row = row == 1? 0 : 1 %>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
