<h1>New event for <%= @group.name %></h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :group_id, :value => @group.id %>
  <%= f.hidden_field :location_id, :value => @location.id %>

  At <%= @location.name %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
