<p>
  <b>Group:</b>
  <%=h @event.group.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location.address %>&nbsp;(<%=h @event.location.name %>)
  <div id="map_canvas" style="width: 600px; height: 400px;"></div>

 <!--What to display if JavaScript is disabled in the user's
 browser-->
 <noscript>
   <strong>JavaScript must be enabled in order for you to use maps.</strong>
   <br />
   However, it seems JavaScript is either disabled or not supported by your browser. <br />
   To view Google Maps, enable JavaScript by changing your browser
   options, and then
   try again.
   <br /><br />
 </noscript>
 
</p>

<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%=h get_nice_time(@event.start_time) %>
</p>

<p>
  <b>End time:</b>
  <%=h get_nice_time(@event.end_time) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to "Back to #{@event.group.name}", group_path(@event.group_id) %>

