<p>
  <b>Group:</b>
  <%=h @event.group.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location.address %>&nbsp;(<%=h @event.location.name %>)
  <div id="map_canvas" style="width: 500px; height: 300px;"></div>
</p>

<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%=h get_nice_time(@event.start_time) %>
</p>

<p>
  <b>End time:</b>
  <%=h get_nice_time(@event.end_time) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to "Back to #{@event.group.name}", group_path(@event.group_id) %>

