<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Description</th>
    <th>Latitude</th>
    <th>Longitute</th>
  </tr>

<% row = 0 %>
<% for location in @locations %>
  <tr <%= "class='row#{row}'" %> >
    <td class='name'><%=h location.name %></td>
    <td><%=h location.address %></td>
    <td><%=h location.description %></td>
    <td><%=h location.latitude %></td>
    <td><%=h location.longitute %></td>
    <td class='button'><%= link_to 'Show', location %></td>
    <td class='button'><%= link_to 'Edit', edit_location_path(location) %></td>
    <td class='button'><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% row = row == 0 ? 1 : 0 %>
<% end %>
</table>

<br />

<%= link_to 'New location', new_location_path %>
