<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Groups: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'rubyholic' %>
</head>
<body>

<div class='side'>
  <div class='logo'><%= image_tag "rubyholic_4in.jpg", :alt => 'rubyholic logo'\
 %> </div>
  <div class='content'>
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield  %>                                                        
  </div>
</div>


</body>
</html>
